/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

a {
  /* text-decoration: none; */
}

button {
  padding: 0.5rem 1rem;
  border-radius: 2px;

  /* border: none; */
  cursor: pointer;
}

.form-container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Style form labels */
.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style form inputs */
.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Style form textarea */
.form-textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style form submit button */
.form-submit {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}



.check {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 5px;
}

.link_description {
  color: initial;
}

h3 {
  margin: 0.7rem 0;
}

.no_item {
  text-align: center;
}

.new_recipe_action {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.btn-add_new_recipe {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: auto;
}

.btn-generate {
  background-color: #4caf50;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
}

.recipe_article,
.recipe_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.recipe_container {
  width: 60%;
}

.article_title {
  text-align: center;
  color: #8e3502;
  margin: 1rem;
}

.recipe_content {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  outline: #4caf50;
  margin: 1rem 0;
}

.ingredient_table {
  display: block;
}

.recipe_table {
  border-collapse: collapse;
  width: 450px;
}

.recipe_table th,
.recipe_table td {
  padding: 0.675rem 1rem;
}

.recipe_table th {
  background-color: #4caf50;
  color: white;
}

.recipe_table tr:nth-child(odd) {
  background-color: #e15809;
}

.table_actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.recipe_form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input_group textarea {
  width: 100%;
  min-height: 5rem;
  padding: 1rem;
}

.input_group input,
.input_group select {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.625rem 1rem;
}

.btn-submit {
  padding: 0.625rem 1rem;
  border: none;
  margin: 1rem 0;
}

.recipe_items {
  display: flex;
  flex-direction: column;
  width: 98vw;
  gap: 1.5rem;
  list-style: none;
  margin: 0 auto;
}

.recipe_card {
  text-decoration: none;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  color: #fff;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  gap: 1rem;
  background: #290174;
}

.btn-danger {
  color: #fff;
  background: #f00;
}

.btn-delete-recipe {
  background-color: transparent;
  border: 2px solid #f00;
  color: white;
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
}

.text-description {
  text-align: left;
}

.section_title {
  padding-bottom: 30px;
  padding-left: 50px;
  font-size: 30px;
}

.new_recipe {
  padding-top: 80px;
  color: rgb(250, 79, 79);
}

.recipe_containers {
  display: flex;
  justify-content: center;
}

.recipe_title {
  padding-top: 50px;
  color: rgb(250, 79, 79);
}

.recipe_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.borders {
  padding-left: 80px;
  padding-right: 80px;
}

.shopping-info-div {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 40px;
}

.ingredient-form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 25%;
  height: 30px;
}

h1 {
  color: blue;
  display: flex;
  justify-content: center;
  padding-top: 160px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 100px;
}


.recipe_contr {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.table_border {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 700;
  color: white;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: blue;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.flex-v {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  margin: 20px 0;
}

.dropdown-content li a:hover {
  color: blue;
}

/* Food styling */

.add-btn {
  color: rgb(33, 6, 235);
  background-color: transparent;
  font-size: 15px;
  border: 2px solid rgb(8, 0, 255);
  margin-bottom: 15px;
  padding: 10px 20px;
  float: right;
}

.food-container .delete-btn {
  color: white;
  background-color: rgb(8, 0, 255);
  padding: 4px;
  font-weight: 700;
  border-radius: 10px;
}

.food {
  padding: 20px;
}

.food-container {
  display: flex;
  width: 98vw;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #000000;
  color: #fff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* Add food styling */
.add_food-container {
  width: 60%;
  border: 1px solid rgb(152, 152, 153);
  border-radius: 50px;
  padding: 0 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  margin: 0 auto;
}

.add_food-container h2 {
  color: blue;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .add_food-container {
    width: 100%;
    padding: 0 3rem;
  }
}

.input {
  width: 100%;
  padding: 13px 21px;
  margin: 9px 0;
  display: inline-block;
  border: 1px solid #a9a0a0;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #1938e8;
  color: #fff;
  padding: 10px 20px;
  margin: 8px 0;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: transparent;
  color: #1938e8;
  border: 2px solid #1938e8;
}

/* Public Recipes styling */
.public-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.public-container .inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  border: 1px solid gray;
  padding: 10px;
}
